Name - Maahi Sadrani
PRN - 25070123069

In [ ]:
# Experiment 3:Study of tuple in python

In [2]:
tpl = (2,True,"maahi")
print(tpl)

(2, True, 'maahi')

In [6]:
tpl2 = ("apple","kiwi","banana")
print(tpl2[-2])
print(tpl2[1])

kiwi
kiwi

In [7]:
tpl3 = ("apple","banana","Kiwi")
tpl3[1]="orange"
print(tpl3)

TypeError: 'tuple' object does not support item assignment

In [11]:
tpl5 = (10,)*5
print(tpl5)
tpl6=(10)*5
print(tpl6)

(10, 10, 10, 10, 10)
50

In [12]:
list = ["symbiosis",]*5
print(list)

['symbiosis', 'symbiosis', 'symbiosis', 'symbiosis', 'symbiosis']

In [21]:
tpl7 = ("apple","banana","orange")
print("before:",id(tpl7))
tpl8 = ("kiwi",)
tpl7+=tpl8
tpl7 = tpl7+tpl8
print(tpl7)
print("after:",id(tpl7))

before: 137177751580032
('apple', 'banana', 'orange', 'kiwi', 'kiwi')
after: 137177753025680

In [23]:
tpl7 = ["apple","banana","orange"]
print("before:",id(tpl7))
tpl8 = ["kiwi",]
tpl7+=tpl8
print(tpl7)
print("after:",id(tpl7))

before: 137178141634048
['apple', 'banana', 'orange', 'kiwi']
after: 137178141634048

In [27]:
marks=(90,82,66,76,33)
print(max(marks))
print(min(marks))
print(len(marks))
print(sum(marks))
print(sum(marks)/len(marks))
print(sorted(marks))

90
33
5
347
69.4
[33, 66, 76, 82, 90]

In [42]:
result = ("Maths",86,"A")
print("Subject:",result[0])
print("Marks:",result[1])
print("Grade:",result[2])
#unpacking a tuple
subject,marks,grade = result
print("subject:",subject)
print("marks:",marks)
print("grade:",grade)
#check for distinction
if marks>=75:
  print("Distinction")

Subject: Maths
Marks: 86
Grade: A
subject: Maths
marks: 86
grade: A
Distinction

In [55]:
attendance = ("P","A","P","P","A","P")
print("Total present days:",attendance.count("P"))
print("Total Absent days:",attendance.count("A"))
if "A" in attendance:
      print("Employee was absent at least once")

Total present days: 4
Total Absent days: 2
Employee was absent at least once